/* Generic elements */

body, input {
    background-color: hsl(207, 11%, 15%);
    color: #fff;
    /* Use the good fonts if they're available, but I'm not bothering with web font bloat */
    font-family: "Open Sans", "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: transparent;
    border-radius: 1px;
}
blockquote {
    font-style: italic;
    margin: 1em 0.75rem;
}
code {
    font-family: "Fira Mono", Menlo, Consolas, "Courier New", monospace;
    font-size: 1em;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


/* Search form */

.big-text {
    font-size: 1.625em;
    margin: 0 0.5rem;
}
.big-text p:first-child {
    margin-top: 0.5em;
}
.big-text label {
    line-height: 1.25;
}
.big-text input[type=text] {
    border: 0 solid #999;
    border-bottom-width: 1px;
    border-radius: 0;
    padding: 0 0.1em;
    width: calc(100% - 1em);
}
.big-text input[type=text]:focus {
    background-color: hsl(189, 21%, 20%);
    outline: none;
}


/* Results */

.results {
    display: none;
    position: relative;
}
.results.has-results {
    display: block;
}
.result {
    background-color: hsl(206, 93%, 17%);
    overflow: hidden;
}
.result::before {
    border-radius: 0.25em 0.25em 0.35em 0.35em / 0.25em 0.25em 1em 1em;
    box-sizing: border-box;
    display: block;
    left: 0.75rem;
    padding: 0.125em 0.5em;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateY(-50%);
    font-weight: bold;
}
.result-yes::before,
.result-shorthand-yes::before {
    background-color: hsl(146, 95%, 19%);
    content: '✔︎';
}
.result-no::before {
    background-color: hsl(14, 83%, 31%);
    content: '✘';
}
.result-shorthand-mixed::before {
    background-color: hsl(76, 97%, 18%);
    content: '~';
}
.result-sortof::before {
    background-color: hsl(29, 51%, 34%);
    content: '!?';
}
.headline {
    font-size: 1.25em;
    margin: 0 0.75rem;
}
.animtype {
    background-color: hsl(206, 92%, 31%);
    font-size: 1.125em;
    overflow: hidden;
    padding: 0 0.75rem;
}
.animtype h2 {
    font-size: 1em;
}
.animtype h2 small {
    display: block;
    margin-left: 0.75rem;
}
.shorthand-details {
    border-top: 1px dashed #fff;
    font-size: 1.125em;
    margin: 0 0.75rem 1em;
    overflow: hidden;
}
.shorthand-unanimatable {
    border-top: 1px dashed currentColor;
    color: rgba(255, 255, 255, 0.6);
}
.longhand-list {
    line-height: 1.5;
    list-style: none;
    padding-left: 0.75rem;
}
.longhand-list li::before {
    content: '»';
    margin-right: 0.25em;
}
.longhand-type {
    display: block;
    margin-left: 3em;
}


/* About section */

.about {
    background-color: hsl(181, 93%, 20%);
    display: none;
    font-size: 1.125em;
    overflow: hidden;
    padding: 0 0.75em;
}
.about:target {
    display: block;
}
.about h2 {
    font-size: 1em;
}


/* Footer */

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 1.5em 0 1em;
    padding: 0;
}
.footer-nav li {
    margin: 0.125em 0.75rem;
}
.footer-nav li::before {
    content: '•';
    margin-right: 0.25em;
}



/**
 * BREAKPOINT: A little bit of breathing room.
 *
 * - Space the content away from the window edges
 * - Round the content corners a tad
 */

@media (min-width: 25em) {
    body {
        margin: 0.75rem;
        min-height: calc(100vh - 1.5rem);
    }
    .result,
    .animtype,
    .about {
        border-radius: 0.25em;
    }
    .about {
        margin-top: 0.75rem;
    }
}


/**
 * BREAKPOINT: Space for side-by-side content.
 *
 * - Animation type sub-header moves inline
 * - Longhand property and type details sit in columns
 * - Footer links are centre-aligned
 */

@media (min-width: 35em) {
    .animtype h2 small {
        display: inline;
        margin-left: 0;
    }
    .longhand-list li {
        display: table-row;
    }
    .longhand-list code {
        display: table-cell;
    }
    .longhand-type {
        margin-left: 1em;
    }
    footer ul {
        justify-content: center;
    }
}


/**
 * BREAKPOINT: Lotsa room for some better personal space boundaries.
 *
 * - Bigger fonts
 * - More spacing between content sections
 * - Main input moves inline
 */

@media (min-width: 47em) {
    .big-text input[type=text] {
        width: 10em;
    }
    .big-text {
        font-size: 1.875em;
        margin-left: 1.25rem;
    }
    .result::before {
        left: 1.25rem;
    }
    .headline {
        font-size: 1.5em;
    }
    .headline,
    .shorthand-details {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }
    .animtype {
        padding: 0 1.25rem;
    }
    .longhand-list {
        padding-left: 1.25rem;
    }
    .about {
        margin-top: 1.25rem;
        padding: 0 1.25rem;
    }
}


/* These rules copied from w3.org, to match the visual display of specs */
.spec .css::before {content: "\2018";}
.spec .css::after {content: "\2019";}
.spec code.css {font-family: inherit;}
