body, input {
    background-color: #23282C;
    color: #fff;
    /* Use the good fonts if they're available, but I'm not bothering with web font bloat */
    font-family: "Open Sans", "Fira Sans", sans-serif;
    font-weight: 300;
}
body {
    margin: 1.5em;
}
body > ins {
    margin: 0 1.5em;
}
template {
    /* Hide the template element from older browsers that don't support it */
    display: none;
}
a {
    color: hsl(220, 0%, 89%);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
a:hover {
    color: hsl(220, 20%, 79%);
}
form {
    padding: 0 0.67em;
}
.big-text {
    font-size: 2em;
}
.big-text label {
    line-height: 1.25;
}
.big-text input[type=text] {
    font-size: 1em;
    border: 0 solid #999;
    border-bottom-width: 1px;
    padding: 0 0.1em;
}
.big-text input[type=text]:focus {
    background-color: #283A3D;
    outline: none;
}
#results {
    font-size: 1.5em;
    display: none;
}
#results.has-results {
    display: block;
}
.result {
    border-radius: 0.25em;
    padding: 1px 1em;
}
.result-yes {
    background-color: rgb(21, 92, 44);
}
.result-no {
    background-color: rgb(124, 22, 9);
}
.result-sortof {
    background-color: rgb(70, 77, 22);
}
.result-unknown {
    background-color: rgb(65, 62, 62);
}
.result em {
    white-space: nowrap;
}
.result small {
    font-size: 0.75em;
    font-style: italic;
}
