body, input {
    background-color: #23282C;
    color: #fff;
    /* Use the good fonts if they're available, but I'm not bothering with web font bloat */
    font-family: "Open Sans", "Fira Sans", sans-serif;
    font-weight: 300;
}
body {
    margin: 1.5em;
}
body > ins {
    margin: 0 1.5em;
}
a {
/*     color: hsl(220, 0%, 89%); */
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
a:hover {
/*     color: hsl(220, 20%, 79%); */
    border-bottom-color: transparent;
}
blockquote {
    font-style: italic;
}
form {
    padding: 0 0.67em;
}
.big-text {
    font-size: 2em;
}
.big-text label {
    line-height: 1.25;
}
.big-text input[type=text] {
    font-size: 1em;
    border: 0 solid #999;
    border-bottom-width: 1px;
    padding: 0 0.1em;
}
.big-text input[type=text]:focus {
    background-color: #283A3D;
    outline: none;
}
#results {
    font-size: 1.125em;
    display: none;
}
#results.has-results {
    display: block;
}

.result {
    background-color: #033154;
    border-radius: 0.25em;
    overflow: hidden;
}
.result .headline {
    padding: 0 1em;
}
.headline,
.headline code {
    font-size: 1.33333333em;
}
.animtype {
    background-color: #065896;
    border-radius: 0.25em;
    overflow: hidden;
    padding: 0 1em;
}
.animtype h2 {
    font-size: 1em;
}
.shorthand {
    border-top: 1px dashed #fff;
    overflow: hidden;
    margin: 0 1em;
}

/*
.result-yes, .result-shorthand-yes {
    background-color: rgb(21, 92, 44);
}
.result-no {
    background-color: rgb(124, 22, 9);
}
.result-sortof, .result-shorthand-mixed {
    background-color: #054575;
}
.result-unknown {
    background-color: rgb(65, 62, 62);
}
.result em {
    white-space: nowrap;
}
.result small {
    font-size: 0.75em;
    font-style: italic;
}
*/
